asn1crypto==0.24.0
backports.functools-lru-cache==1.4
certifi==2022.12.7
cffi==1.11.4
chardet==3.0.4
configobj==5.0.6
cryptography==2.1.4
cycler==0.10.0
decorator==4.0.11
enum34==1.1.6
et-xmlfile==1.0.1
future==0.16.0
gevent==1.2.2
greenlet==0.4.13
idna==2.6
imageio==2.1.2
ipaddress==1.0.19
jdcal==1.3
json-tricks==3.11.3
matplotlib==2.1.2
moviepy==0.2.3.2
msgpack-python==0.5.2
numexpr==2.6.4
numpy==1.14.0
opencv-python==3.4.0.12
openpyxl==2.5.0
pandas==0.22.0
Pillow==5.0.0
psutil==5.4.3
PsychoPy==1.85.6
pycparser==2.18
pygame==1.9.3
pyglet==1.3.0
pyobjc-core==4.1
pyobjc-framework-Cocoa==4.1
pyobjc-framework-Quartz==4.1
pyOpenSSL==17.5.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.2.0
pyserial==3.4
python-bidi==0.4.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
scipy==1.0.0
six==1.11.0
sounddevice==0.3.10
SoundFile==0.9.0.post1
subprocess32==3.2.7
tables==3.4.2
tqdm==4.11.2
urllib3==1.22
wxPython==4.0.1
xlrd==1.1.0
git+https://github.com/cravatsc/config_management.git
